.mealContainer {
  width: 40vw;
  height: 60vh;
  background-color: white;
  color: black;
  position: relative;
  bottom: 6rem;
  /* display: table; */
  margin: 0 auto;
  border-radius: 10px;
  padding-right: 2rem;
}
.mealContainer .menuList {
  padding-left: 2rem;
  padding-top: 1rem;
}
.menuName {
  font-size: large;
  font-weight: bold;
}
.menuDescription {
  font-style: italic;
  font-size: small;
}
.menuPrice {
  color: brown;
  font-size: medium;
  font-weight: 400;
}
